/* TESTING */
/** {*/
/*  border: 1px solid #333;*/
/*}*/

/*table {*/
/*  border: 2px solid blue;*/
/*}*/

/*td {*/
/*  border: 2px solid green;*/
/*}*/

body {
  font-family: sans-serif;
  background-color: #fff !important;
  color: #000 !important;
}

/* DARK MODE */
.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

/* "QUAD" */
.divSquare {
  float: left;
  margin-right: 235px;
  /*border: 2px solid blueviolet*/
  /*width: 48%;*/
  /*height: 560px;*/
}

/* DIV */
.controls {
  /*border: 2px solid cornflowerblue;*/
  width: 100%;
  /*width: 640px;*/
  height: 30px;
}

/* DIV */
.buttons {
  width: 100%;
}

/* DIV */
.viewer {
  /* W + H ARE NOW SET BY USER */
  /*width: 100%;*/
  /*width: 640px;*/
  /*height: 480px;*/
}

/* DIV */
.floated {
  float: left;
  margin-right: 5px;
}

/* DISPLAY TOOLS ON HOVER */
.showHover {
  display: none;
}

.showDiv:hover .showHover {
  position: absolute;
  z-index: 30;
  display: block;
  overflow: hidden;
}

/* POINTER */
.pointer {
  cursor: pointer;
}

.none {
  cursor: none;
}

.not-allowed {
  cursor: not-allowed;
}

/* HIGHLIGHT ON DROP */
.highlight {
  animation-name: bckanim;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 0s;
  background-color: #74f272;
}

@keyframes bckanim {
  0% {
    background-color: #74f272;
  }
  100% {
    background-color: transparent;
  }
}

/* DRAGGABLE */
*[draggable=true] {
  -webkit-user-drag: element;
  cursor: move;
}

/* HOVER OVER ICONS */
.hover-light:focus,
.hover-light:hover {
  color: #74f272;
}

/* USER CONTROLS */
.btn {
  border-radius: 5px; /*added*/
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
}

.btnOn {
  border: 2px solid #74f272;
  border-radius: 5px; /*added*/
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #74f272;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
}

/* DRAG AND DROP */
/*drop_site*/
.dropzone {
  overflow: hidden !important;
  border: 1px solid #ccc !important;
  background-color: #f1f1f1 !important;
}

/*layer_tab*/
.dragIt {
  float: left !important;
  transition: 0.3s !important;
  border: 1px solid #333 !important;
  border-radius: 7px !important; /*inc to 7*/
  /*border-radius: 5px !important;*/
  width: 98px;
  padding: 12px 14px !important;
  cursor: move !important;
  font-size: 14px !important;

  /* ELLIPSES FOR LONG NAMES*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* WORD-WRAP LONG NAMES */
  /* overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; */
}

/*drop_site*/
.dropzone.over {
  border: 3px dotted #00ff00 !important;
  /*border: 3px dotted #00acd6 !important;*/
}

/* FLOATING DIV */
.popup {
  position: absolute;
  z-index: 10;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*border-radius: 4px;*/
  background-color: #f1f1f1;
  white-space: nowrap;
}

.popupHeader {
  z-index: 20;
  border-radius: 5px;
  padding: 10px;
  /*background-color: rgba(81, 203, 238, 1);*/
  background-color: #ccc;
  cursor: move;
  font-weight: bold;
  color: #333;
}

/* MAGNIFICATION */
.mag-content {
  z-index: 1;
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 160px;
  background-color: rgba(249, 249, 249, 0.5);
}

.mag-content a {
  float: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  color: black;
}

.mag:hover .mag-content {
  display: block;
}

.mag-content a:hover {
  background-color: #ddd;
}

/* TOOLTIP */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -100%);*/
  margin-top: 0;
  padding: 5px;
  font-size: x-small;
  background-color: lightyellow;
  /*background-color: #00acd6;*/
}
