/* style */

body {
    font-family: sans-serif;
}

ul {
    /* position: absolute; */
    /* top: 50px;
    right: 50px; */
    list-style-type: none;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
     min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    float: left;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}


/*Link*/

a:link {
    text-decoration: none;
}


.btn {
    color: #0e74da;
    border: 1px solid #0e74da;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btnOn {
    color: #74f272;
    border: 1px solid #74f272;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/*.container {*/
/*    display: grid;*/
/*    height: 100vh;*/
/*    grid-template-columns: auto auto;*/
/*    grid-template-rows: auto auto;*/
/*}*/

/*.imageViewer {*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*    margin-bottom: 75px;*/
/*}*/

/*.dragonbox {*/
/*    height: 100%;*/
/*}*/


/* range sliders */

.slider-square {
    -webkit-appearance: none;
    width: 90%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider-square:hover {
    opacity: 1;
}

.slider-square::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #8ac1ef;
    cursor: pointer;
}

.slider-square::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    background: #8ac1ef;
    cursor: pointer;
}


/* color-picker */

.color-picker.no-alpha .color-picker\:a {
    display: none;
}


/*Scroll*/

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    color: #ffffff;
    background-color: #0e74da;
    border: 1px solid #0e74da;
    border-radius: 5px;
}


/*Foldout*/

.fold {
    display: none;
    width: 0;
    height: 0;
    position: 50;
}

.fold.active {
    display: inline-block;
}
