/* TESTING */
/** {*/
/*  border: 1px solid aquamarine;*/
/*}*/

/*table {*/
/*  border: 2px solid blue;*/
/*}*/

/*td {*/
/*  border: 2px solid green;*/
/*}*/

body {
  font-family: sans-serif;
  background-color: #fff !important;
  color: #000 !important;
}

/* DARK MODE */
.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.b-controls {
  float: left;
  display: inline;
  padding: 2px;
}

/* "QUAD" */
.divSquare {
  float: left;
  margin-right: 195px;
  /*border: 2px solid blueviolet*/
  /*width: 48%;*/
  /*height: 560px;*/
}

/* DIV */
.controls {
  /*border: 2px solid cornflowerblue;*/
  width: 100%;
  /*width: 640px;*/
  height: 30px;
}

/* DIV */
.buttons {
  width: 100%;
}

/* DIV */
.viewer {
  /* W + H ARE NOW SET BY USER */
  /*width: 100%;*/
  /*width: 640px;*/
  /*height: 480px;*/
}

/* DIV */
.floated {
  float: left;
  margin-right: 5px;
}

/* DISPLAY TOOLS ON HOVER */
.showHover {
  display: none;
}

.showDiv:hover .showHover {
  position: absolute;
  z-index: 30;
  display: block;
  overflow: hidden;
}

/* POINTER */
.pointer {
  cursor: pointer;
}

.none {
  cursor: none;
}

.not-allowed {
  cursor: not-allowed;
}

/* HIGHLIGHT ON DROP */
.highlight {
  animation-name: bckanim;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-delay: 0s;
  background-color: #74f272;
}

@keyframes bckanim {
  0% {
    background-color: #74f272;
  }
  100% {
    background-color: transparent;
  }
}

/* DRAGGABLE */
*[draggable=true] {
  -webkit-user-drag: element;
  cursor: move;
}

/* HOVER OVER ICONS */
.hover-light:focus,
.hover-light:hover {
  color: #74f272;
}

/* USER CONTROLS */
.btn {
  border-radius: 5px; /*added*/
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
}

.btnOn {
  border: 2px solid #74f272;
  border-radius: 5px; /*added*/
  padding: 4px 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: #74f272;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
}

/* DRAG AND DROP */
/*drop_site*/
.dropzone {
  overflow: hidden !important;
  border: 1px solid #ccc !important;
  background-color: #f1f1f1 !important;
}

/*layer_tab*/
.dragIt {
  float: left !important;
  transition: 0.3s !important;
  border: 1px solid #333 !important;
  border-radius: 7px !important; /*inc to 7*/
  /*border-radius: 5px !important;*/
  width: 90px;
  padding: 12px 14px !important;
  cursor: move !important;
  font-size: 14px !important;

  /* ELLIPSES FOR LONG NAMES */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* WORD-WRAP LONG NAMES */
  /*overflow-wrap: break-word;*/
  /*word-wrap: break-word;*/
  /*-webkit-hyphens: auto;*/
  /*-ms-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*hyphens: auto;*/
}

/* drop_site */
.dropzone.over {
  border: 3px dotted #00ff00 !important;
  /*border: 3px dotted #00acd6 !important;*/
}

/* FLOATING DIV */
.popup {
  position: absolute;
  z-index: 10;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*border-radius: 4px;*/
  background-color: #f1f1f1;
  white-space: nowrap;
}

.popupHeader {
  z-index: 20;
  border-radius: 5px;
  padding: 10px;
  /*background-color: rgba(81, 203, 238, 1);*/
  background-color: #ccc;
  cursor: move;
  font-weight: bold;
  color: #333;
}

/* MAGNIFICATION */
.mag-content {
  z-index: 1;
  display: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  min-width: 160px;
  background-color: rgba(249, 249, 249, 0.5);
}

.mag-content a {
  float: none;
  display: block;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  color: black;
}

.mag:hover .mag-content {
  display: block;
}

.mag-content a:hover {
  background-color: #ddd;
}

/* TOOLTIP */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -100%);*/
  margin-top: 0;
  padding: 5px;
  font-size: x-small;
  background-color: lightyellow;
}

/* RANGE SLIDERS */
* {
  font: inherit;
}

/* make the wrapper a middle-aligned grid with two rows and one column */
.wrap {
  --dif: calc(var(--max) - var(--min));
  position: relative;
  display: grid;
  grid-template: repeat(2, -webkit-max-content) 1em/1fr 1fr;
  grid-template: repeat(2, max-content) 1em/1fr 1fr;
  overflow: hidden; /* in case <label> elements overflow */
  margin: 1em auto;
  width: 20em;
  background: linear-gradient(0deg, #ccc 1em, transparent 0); /* emulate track */
  font-family: ubuntu mono, consolas, monaco, monospace;
}

.wrap::before, .wrap::after {
  grid-column: 1/span 2;
  grid-row: 3;
  height: 100%;
  background: #95a;
  content: "";
}

.wrap::before {
  margin-left: calc((var(--a) - var(--min)) / var(--dif) * 100%);
  width: calc((var(--b) - var(--a)) / var(--dif) * 100%);
}

.wrap::after {
  margin-left: calc((var(--b) - var(--min)) / var(--dif) * 100%);
  width: calc((var(--a) - var(--b)) / var(--dif) * 100%);
}

[id=multi-lbl] {
  grid-column: 1/span 2;
}

/* visually hide the <label> elements */
.sr-only {
  position: absolute;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

/* place the sliders one on top of the other */
.wrap input[type=range] {
  z-index: 1;
  top: 0;
  left: 0;
  grid-column: 1/span 2;
  grid-row: 3;
  margin: 0;
  background: none;
  color: #000;
  pointer-events: none;
}

.wrap input[type=range]::-webkit-slider-runnable-track,
.wrap input[type=range]::-webkit-slider-thumb,
.wrap input[type=range] {
  -webkit-appearance: none;
}

/* Chrome track */
.wrap input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none; /* get rid of white Chrome background */
}

/* Firefox track */
.wrap input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}

/* Chrome thumb */
.wrap input[type=range]::-webkit-slider-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  background: currentcolor;
  pointer-events: auto;
}

/* Firefox thumb */
.wrap input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  background: currentcolor;
  pointer-events: auto;
}

/* focus styles allows us to see which value we're currently modifying */
.wrap input[type=range]:focus {
  z-index: 2;
}

.wrap input[type=range]:focus, input[type=range]:focus + output {
  color: darkorange;
}

output {
  grid-row: 2;
}

output:last-child {
  text-align: right;
}

/* display the values using a little counter trick */
output::after {
  counter-reset: c var(--c);
  content: "--" attr(for) ": " counter(c) ";";
}

/* RANGE SLIDER - DIFFERENT STYLE */
section.range-slider {
  position: relative;
  width: 20em;;
  height: 35px;
  text-align: center;
}

section.range-slider input {
  position: absolute;
  top: 15px;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  margin: 0;
  border: 0;
  border-radius: 1px;
  box-sizing: border-box;
  width: 20em;
  padding: 0 2px;
  outline: none;
  background: linear-gradient(0deg, #ccc 1em, transparent 0);
  background-size: 100% 2px;
  pointer-events: none;
}

section.range-slider input::-webkit-slider-runnable-track,
section.range-slider input::-webkit-slider-thumb,
section.range-slider input {
  -webkit-appearance: none;
}

section.range-slider input::-webkit-slider-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  background: currentcolor;
  pointer-events: auto;
}

section.range-slider input::-moz-range-thumb {
  border: none;
  border-radius: 0;
  width: 1em;
  height: 1em;
  background: currentcolor;
  pointer-events: all;
}

section.range-slider input::-webkit-slider-thumb {
  z-index: 1;
  position: relative;
  pointer-events: all;
}

section.range-slider input::-moz-range-thumb {
  position: relative;
  z-index: 10;
  outline: 0;
  width: 9px;
  pointer-events: all;
}
