/* this needs to go first */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* container <div> needed to position dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* change background color of button when content is shown */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* dropdown content - hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* links inside dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* change color of links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
