.divSquare {
    /* border: 1px solid blueviolet */
    width: 48%;
    height: 560px;
    margin: 4px;
    float: left;
}

.controls {
    /* border: 1px solid red; */
    width: 640px;
    height: 70px;
}

.range {
    /* border: 1px solid blue; */
    width: 100%;
}

.buttons {
    /* border: 1px solid cornflowerblue; */
    width: 100%;
}

.viewer {
    /* border: 1px solid blue; */
    width: 640px;
    height: 480px;
    /*height: 100%;*/
}

.floated {
    float: left;
    margin-right: 5px;
}
