/* quad */

.divSquare {
    width: 48%;
    height: 560px;
    margin: 4px;
    float: left;
}

.controls {
    width: 640px;
    height: 70px;
}

.range {
    width: 100%;
}

.buttons {
    width: 100%;
}

.viewer {
    /*width: 640px;*/
    /*height: 480px;*/
    width: 100%;
}

.floated {
    float: left;
    margin-right: 5px;
}

/* mugshots */

.thumbnail-container {
    overflow-x: scroll;
    width: 100%;
    padding: 0 15px;
}

.thumbnail-list {
    white-space: nowrap;
    list-style: none;
}

.thumbnail-list li {
    display: inline-block;
}

.thumbnail-image {
    display: block;
    padding: 2px;
    max-width: 100px;
    height: auto;
}
