/* style */

body {
    font-family: sans-serif;
}

.btn {
    background-color: #f1f1f1;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btnOn {
    background-color: lightgreen;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.nViewer {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 75px;
    /* padding-bottom: 20px; */
}

.dragonbox {
    height: 100%;
    /* height: 100vh; */
}


/* range sliders */

.slider-square {
    -webkit-appearance: none;
    width: 90%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider-square:hover {
    opacity: 1;
}

.slider-square::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #8ac1ef;
    cursor: pointer;
}

.slider-square::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: 0;
    background: #8ac1ef;
    cursor: pointer;
}

.widget {
    padding: 3px;
    /* padding: 6px; */
    /* display: block; */
    display: inline;
    position: relative;
}


/* popover menu */


/* #popup {
    opacity: 0;
    position: absolute;
    top: 0px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 0px;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

#cog:hover #popup {
    display: inline-flex;
    height: auto;
    opacity: 1;
    border: 1px solid #eeeeee;
} */


/* color-picker */

.color-picker.no-alpha .color-picker\:a {
    display: none;
}


/*Scroll*/

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}


/*Foldout*/

.fold {
    display: none;
    width: 0;
    height: 0;
    position: 50;
    /*position: absolute;*/
}

.fold.active {
    display: inline-block;
}

ul {
    position: absolute;
    top: 50px;
    right: 50px;
    list-style-type: none;
}


/*Link*/

a:link {
    text-decoration: none;
}
