/* style */
body {
    font-family: sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.dragonbox {
    height: 100vh;
    padding-bottom: 70px;
}

/* range sliders */
.slider-square {
  -webkit-appearance: none;
  width: 90%;
  height: 12px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.slider-square:hover {
  opacity: 1;
}

.slider-square::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #8ac1ef;
  cursor: pointer;
}

.slider-square::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: 0;
  background: #8ac1ef;
  cursor: pointer;
}

.widget {
    padding: 3px;
    /* padding: 6px; */
    /* display: block; */
    display: inline;
    position: relative;
}

/* popover menu */
#popup {
    opacity: 0;
    position: absolute;
    /* top: 32px; */
    top: 0px;
    background: #fafafa;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 0px;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

#cog:hover #popup {
    display: inline-flex;
    /* padding: 12px 12px; */
    height: auto;
    opacity: 1;
    border: 1px solid #eeeeee;
}

/* color-picker */
.color-picker.no-alpha .color-picker\:a {
    display: none;
}
