body {
    background: lightblue;
    font-family: sans-serif;
}

.openseadragon1 {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    color: #333;
    background-color: black;
    position: relative;
    height: 300px;
    width: 500px;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }

.fill {
    position: relative;
    height: 300px;
    width: 500px;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.hold {
    border: solid 5px #ccc;
}

.empty {
    display: inline-block;
    height: 340px;
    width: 540px;
    margin: 20px;
    border: solid 3px lightskyblue;
    background: white;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}
