.slider-square {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.slider-square:hover {
  opacity: 1;
}

.slider-square::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #8ac1ef;
  cursor: pointer;
}

.slider-square::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  background: #8ac1ef;
  cursor: pointer;
}