body {
  /* background-color: lightblue; */
  margin: 40px;
  font-family: Verdana, Tahoma, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 600px 600px; */
  grid-template-columns: 800px 800px;
  grid-gap: 30px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.dragon {
  /* width: 600px;
  height: 400px; */
  width: 800px;
  height: 600px;
  background: transparent;
}

.seadragon-viewer {
  background: transparent;
  display: inline-block;
  width: 45%;
  height: 600px;
}

.foo {
  width: 300px;
}

.foo1 {
  width: 100px;
  float: left;
}

.foo2 {
  width: 200px;
  float: left;
}
