body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

table {
    border-spacing: 10px;
}

.demoarea {
    clear: both;
}

.demoheading {
    color: #437AB2;
    padding: 0 0 0.2em 1em;
}

.openseadragon {
    width:      800px;
    height:     600px;
    color:      #333;
}
