// https://beautifytools.com/css-to-scss-converter.php
/* CUSTOM PROPERTIES */
/* DARK MODE */
/* "QUAD" */
/* DIV */
/* DIV */
/* DISPLAY TOOLS ON HOVER */
/* POINTER */
/* HIGHLIGHT ON DROP */
@keyframes "bckanim" {
	0% {
		background-color: var(--highlight);
	}
	100% {
		background-color: var(--bglight);
	}
}
/* DRAGGABLE */
/* HOVER OVER ICONS */
/* USER CONTROLS */
/* DRAG AND DROP */
/* FLOATING DIV */
/* MAGNIFICATION */
/* RANGE SLIDERS */
/* SECTION */
/* TOOLTIP */
&:root {
	--highlight: #74f272;
	--fgdark: #333;
	--bgdark: #ccc;
	--bglight: #f1f1f1;
}
body {
	background-color: #fff;
	font-family: sans-serif;
	color: #000;
}
.dark-mode {
	background-color: #000;
	color: #fff;
}
ul {
	list-style-type: none;
}
a {
	&:link {
		text-decoration: none;
	}
}
.b-controls {
	float: left;
	display: inline;
	padding: 2px;
}
.divSquare {
	float: left;
	margin-right: 195px;
}
.controls {
	width: 100%;
	height: 30px;
}
.floated {
	float: left;
	margin-right: 5px;
	width: 100%;
}
.showHover {
	display: none;
}
.showDiv {
	&:hover {
		.showHover {
			position: absolute;
			z-index: 30;
			display: block;
			overflow: hidden;
		}
	}
}
.pointer {
	cursor: pointer;
}
.none {
	cursor: none;
}
.not-allowed {
	cursor: not-allowed;
}
.highlight {
	animation-name: bckanim;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-delay: 0s;
	background-color: var(--highlight);
}
*[draggable=true] {
	-webkit-user-drag: element;
	cursor: move;
}
.fas {
	&:focus {
		border: none !important;
		color: var(--highlight) !important;
	}
	&:hover {
		border: none !important;
		color: var(--highlight) !important;
	}
}
.hover-light {
	background-color: var(--bglight);
	color: var(--fgdark);
	&:focus {
		border: 1px solid var(--highlight);
		color: var(--highlight);
	}
	&:hover {
		border: 1px solid var(--highlight);
		color: var(--highlight);
	}
}
.btn {
	padding: 4px 12px;
	border: 1px solid var(--fgdark);
	border-radius: 5px;
	color: var(--fgdark);
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.btnOn {
	border: 2px solid var(--highlight);
	border-radius: 5px;
	padding: 4px 12px;
	cursor: pointer;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: var(--highlight);
}
.dropzone {
	overflow: hidden;
	border: 1px solid var(--bgdark);
	background-color: var(--bglight);
}
.dragIt {
	float: left;
	transition: 0.3s;
	border: 1px solid var(--fgdark);
	border-radius: 7px;
	width: 90px;
	padding: 12px 14px;
	cursor: move;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dropzone.over {
	border: 3px dotted #00ff00;
}
th {
	color: var(--fgdark);
}
span {
	color: var(--fgdark);
}
.popup {
	position: absolute;
	z-index: 10;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
	border: 1px solid var(--bgdark);
	border-radius: 5px;
	background-color: var(--bglight);
	color: var(--fgdark);
	white-space: nowrap;
}
.popupHeader {
	z-index: 20;
	border-radius: 5px;
	padding: 10px;
	background-color: var(--bgdark);
	cursor: move;
	font-weight: bold;
	color: var(--fgdark);
}
.mag-content {
	z-index: 1;
	display: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	min-width: 160px;
	background-color: rgba(249, 249, 249, 0.5);
	a {
		float: none;
		display: block;
		padding: 12px 16px;
		text-align: left;
		text-decoration: none;
		color: black;
		&:hover {
			background-color: #ddd;
		}
	}
}
.mag {
	&:hover {
		.mag-content {
			display: block;
		}
	}
}
* {
	font: inherit;
}
.wrap {
	--dif: calc(var(--max) - var(--min));
	position: relative;
	display: grid;
	grid-template: repeat(2, -webkit-max-content) 1em/1fr 1fr;
	grid-template: repeat(2, max-content) 1em/1fr 1fr;
	overflow: hidden;
	margin: 1em auto;
	width: 20em;
	background: linear-gradient(0deg, var(--bgdark) 1em, transparent 0);
	&::before {
		grid-column: 1/span 2;
		grid-row: 3;
		height: 100%;
		background: #95a;
		content: "";
		margin-left: calc((var(--a) - var(--min)) / var(--dif) * 100%);
		width: calc((var(--b) - var(--a)) / var(--dif) * 100%);
	}
	&::after {
		grid-column: 1/span 2;
		grid-row: 3;
		height: 100%;
		background: #95a;
		content: "";
		margin-left: calc((var(--b) - var(--min)) / var(--dif) * 100%);
		width: calc((var(--a) - var(--b)) / var(--dif) * 100%);
	}
	input[type=range] {
		z-index: 1;
		top: 0;
		left: 0;
		grid-column: 1/span 2;
		grid-row: 3;
		margin: 0;
		background: none;
		color: #000;
		pointer-events: none;
		-webkit-appearance: none;
		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			width: 100%;
			height: 100%;
			background: none;
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: none;
			border-radius: 0;
			width: 1em;
			height: 1em;
			background: currentcolor;
			pointer-events: auto;
		}
		&::-moz-range-track {
			width: 100%;
			height: 100%;
			background: none;
		}
		&::-moz-range-thumb {
			border: none;
			border-radius: 0;
			width: 1em;
			height: 1em;
			background: currentcolor;
			pointer-events: auto;
		}
		&:focus {
			z-index: 2;
			outline: dotted 1px currentcolor;
			color: darkorange;
			color: darkorange;
		}
	}
}
.section {
	--dif: calc(var(--max) - var(--min));
	position: relative;
	display: grid;
	grid-template: repeat(2, -webkit-max-content) 1em/1fr 1fr;
	grid-template: repeat(2, max-content) 1em/1fr 1fr;
	overflow: hidden;
	margin: 1em auto;
	width: 20em;
	background: linear-gradient(0deg, var(--bgdark) 1em, transparent 0);
	&::before {
		grid-column: 1/span 2;
		grid-row: 3;
		height: 100%;
		background: #95a;
		content: "";
		margin-left: 0;
		width: calc((var(--a1) - var(--min))/var(--dif)*100%);
	}
	&::after {
		grid-column: 1/span 2;
		grid-row: 3;
		height: 100%;
		background: #95a;
		content: "";
		margin-left: calc(var(--b1)/var(--dif)*100%);
		width: calc((var(--max) - var(--b1))/var(--dif)*100%);
	}
	input[type=range] {
		z-index: 1;
		top: 0;
		left: 0;
		grid-column: 1/span 2;
		grid-row: 3;
		margin: 0;
		background: none;
		color: #000;
		pointer-events: none;
		-webkit-appearance: none;
		&::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			width: 100%;
			height: 100%;
			background: none;
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: none;
			border-radius: 0;
			width: 1em;
			height: 1em;
			background: currentcolor;
			pointer-events: auto;
		}
		&::-moz-range-track {
			width: 100%;
			height: 100%;
			background: none;
		}
		&::-moz-range-thumb {
			border: none;
			border-radius: 0;
			width: 1em;
			height: 1em;
			background: currentcolor;
			pointer-events: auto;
		}
		&:focus {
			z-index: 2;
			outline: dotted 1px currentcolor;
			color: darkorange;
			color: darkorange;
		}
	}
}
[id=multi-lbl] {
	grid-column: 1/span 2;
}
[data-tooltip] {
	position: relative;
	&:hover {
		&::after {
			content: attr(data-tooltip);
			position: absolute;
			top: 0;
			left: 0;
			margin-top: 0;
			padding: 5px;
			font-size: x-small;
			background-color: lightyellow;
		}
	}
}
.css-tooltip {
	position: relative;
	&:hover {
		&:after {
			content: attr(data-tooltip);
			position: absolute;
			top: 0;
			left: 135%;
			transform: translateX(-15%);
			display: inline-block;
			margin: 0 auto;
			border-radius: 3px;
			min-width: 150px;
			padding: 5px;
			background: #000;
			font-size: 0.825rem;
			text-align: center;
			color: #fff;
		}
	}
}

